## Skrypt ilustrujący przebieg postępowania przy analizie plików json zawierających dane przedsiębiorstw z bazy KRS

In [9]:
import pandas as pd
import glob
# from pandas.io.json import json_normalize
import json
import numpy as np
pd.set_option('display.max_columns',28)
pd.set_option('display.max_rows',100)
pd.set_option('display.max_colwidth',60)

In [10]:
#stworzenie pustej tabeli
df=pd.DataFrame(columns=['nazwa','miasto','branza','kod'])

In [14]:
#ścieżka do plików json, znajdujących się na dysku
path = r'C:/Users/Bonias/Desktop/github/przedsiębiorstwa' 
all_files = glob.glob(path + "/*.json")

#pętla wczytująca po kolei wszystkie pliki i wyciągająca z nich pożądane dane - nazwę przedsiębiorstwa, miasto, branżę i kod branży
#dla przykładu wczytane zostaną dwa pliki
for filename in all_files:
    with open(filename) as data_file:    
        data = json.load(data_file)
        try:
            klucze=list(data['fields']['przedmiot_pozostalej_dzialalnosci_przedsiebiorcy']['_childs'].keys())
        except Exception as e:
            continue
        for i in klucze:
            n=data['name']
            c=data['address']['city']
            try:
                k=data['fields']['przedmiot_pozostalej_dzialalnosci_przedsiebiorcy']['_childs'][i]['_value']['symbol']
            except Exception as e:
                k=None
            try:
                b=data['fields']['przedmiot_pozostalej_dzialalnosci_przedsiebiorcy']['_childs'][i]['_value']['title']
            except Exception as e:
                b=None
            
            df = df.append({'nazwa': n, 'miasto': c, 'branza': b,'kod':k}, ignore_index=True)

In [13]:
df.head()

,nazwa,miasto,branza,kod
0,"""LUBREM"" SPÓŁKA JAWNA K. DĘBSKI; J. KLEPACKI W LIKWIDACJI",Lublin,Budownictwo ogólne i inżynieria lądowa,"[45, 21, None]"
1,"""LUBREM"" SPÓŁKA JAWNA K. DĘBSKI; J. KLEPACKI W LIKWIDACJI",Lublin,"Wykonywanie instalacji cieplnych, wodnych, wentylacyjnyc...","[45, 33, None]"
2,"""LUBREM"" SPÓŁKA JAWNA K. DĘBSKI; J. KLEPACKI W LIKWIDACJI",Lublin,Produkcja i dystrybucja ciepła (pary wodnej i gorącej wody),"[40, 30, None]"
3,"""LUBREM"" SPÓŁKA JAWNA K. DĘBSKI; J. KLEPACKI W LIKWIDACJI",Lublin,Produkcja wyrobów betonowych budowlanych,"[26, 61, None]"
4,"""LUBREM"" SPÓŁKA JAWNA K. DĘBSKI; J. KLEPACKI W LIKWIDACJI",Lublin,Produkcja wyrobów betonowych i gipsowych pozostałych,"[26, 66, None]"

In [7]:
#zapis do csv
df.to_csv('nazwa1.csv',index=False)